export(approxTime)
export(approxTime1)
export(approxTimeEq)
export(areaFunction)
export(arrangeLayerWise)
export(arrangeStateWise)
export(call_salmodll)
export(call_salmodll_macrophytes)
export(get_salmo_parms)
export(hypso_functions)
export(layers2vector)
export(o2sat)
export(salmo_1box)
export(salmo_2box)
export(salmo_mac_1box)
export(salmo_mac_1d)
export(setparms)
export(vol2level)
export(volumeFunction)
useDynLib(rSALMO)
